{{!-- <nav class="navbar navbar-light bg-light">
    <form id='search' class="form-inline">
        <input id='input' class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav> --}}

<form id='search'>
    <div class="form-group green-border-focus">
        <h3 style="color: black;" for="exampleFormControlTextarea5"><b> Enter your text</b></h3>
        <textarea class="form-control" id='input' rows="3"></textarea>
        <button style="background-color:green;" class="btn btn-outline-success my-7 my-sm-1"
            type="submit">Search</button>

    </div>
</form>

<div id='divInc' class="list-group">

</div>

<div id='div' class="list-group">

</div>

<script src="/search.js"></script>