
<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
        <h1 class="card-title">{{title}}</h1>
        <a href="/enter" class="btn btn-primary">Get started</a>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>