    <a href="#" class="list-group-item list-group-item-action active">Ошибки в следующих словах: 
{{#each incorrectWords}}
<div class="list-group">
    </a>
    <a href="#" class="list-group-item list-group-item-action">{{this}}</a>   
   </div>
{{/each}}

    <a href="#" class="list-group-item list-group-item-action active">Возможно, вы имели ввиду: 
{{#each correctWords}}
<div class="list-group">
    </a>
    <a href="#" class="list-group-item list-group-item-action">{{this}}</a>   
   
</div>
{{/each}}

<a href="/enter">Go back</a>